body {
      background-color: #333333;
      
      /*to prevent padding from changin overall width*/
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      box-sizing: border-box;         /* Opera/IE 8+ */

      text-align: justify;
}

img {
      display: block;
      margin: 0 auto;
}