.page {

  /*to prevent padding from changin overall width*/
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      box-sizing: border-box;         /* Opera/IE 8+ */
      
  /*background-color: white;*/
  /*box-shadow: 0px 0px 20px #000000;*/

  width: 66vw;
  height: 85.358vw; /*ratio = 1:1.2933*/

  margin-top: 2vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vw;

  padding-top: 6vw;
  padding-left: 5.7vw;
  padding-right: 5.7vw;
  padding-bottom: 1vw;

  position: absolute;
  left: 15vw;

}

.twocolumn {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;

  -moz-column-fill: auto; /* Firefox */
  column-fill: auto;

  column-gap: 2.5vw;
}

#page1layer1 {
  /*background-color: white;*/
  z-index: 2;
  /*opacity: 0.5;*/
}

#page1layer2 {
  /*top: 30vw;*/
  /*background-color: yellow; */
  z-index: 1;
  color: white;
  pointer-events: none;
}

#page1layer3 {
  /*top: 60vw;*/
  background-color: white; 
  color: white;
  z-index: 0;
  pointer-events: none;
}