.page {

  /*to prevent padding from changin overall width*/
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      box-sizing: border-box;         /* Opera/IE 8+ */
      
  /*background-color: white;*/
  box-shadow: 0px 0px 10px #000000;

  width: 66vw;
  height: 85.358vw; /*ratio = 1:1.2933*/

  margin-top: 2vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vw;

  padding-top: 6vw;
  padding-left: 5.7vw;
  padding-right: 5.7vw;
  padding-bottom: 1vw;

  position: absolute;
  left: 15vw;

}

.twocolumn {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;

  -moz-column-fill: auto; /* Firefox */
  column-fill: auto;

  column-gap: 2.5vw;
}

.pagelayer1 {
  z-index: 2;
}

.pagelayer2 {
  z-index: 1;
  color: white;
  pointer-events: none;
}

.pagelayer3 {
  z-index: 0;

  background-color: white; 
  color: white;
  pointer-events: none;
}

.page2 {
  top: 95vw;
}
.page3 {
  top: 182vw;
}
.page4 {
  top: 269vw;
}
.page5 {
  top: 356vw;
}
.page6 {
  top: 443vw;
}
.page7 {
  top: 530vw;
}
.page8 {
  top: 617vw;
}
.page9 {
  top: 704vw;
}
.page10 {
  top: 791vw;
}

