<!DOCTYPE html>
<html>

<head>
    <title>Let'sRead</title>
    <meta charset="utf-8">
    <meta name="description" content="Crowdsourced reading platform">
    <meta name="author" content="Junsoo Park, Young-bo Sim, Sang-Gyun An">
    <link rel="stylesheet" href="../static/default.css">
    <link rel="stylesheet" href="../static/font.css">
    <link rel="stylesheet" href="../static/paper.css">
    <script>
        </script>
</head>

<body>
    <div class="page">
        <div class="title" style="font-style: italic">CommunityCommands:</div>
        <div class="title">Command Recommendations for Software Applications</div>
        <div class="largelinespace"></div>
        <div class="author">Justin Matejka, Wei Li, Tovi Grossman, George Fitzmaurice</div>
        <div class="linespace"></div>
        <div class="affiliation">Autodesk Research</div>
        <div class="affiliation">210 King St. East, Toronto, Ontario, Canada, M5A 1J7</div>
        <div class="affiliation">{firstname.lastname}@autodesk.com</div>
        <div class="largelinespace"></div>
        <div class="twocolumn">
            <div class="sectiontitle">ABSTRACT</div>
            <div class="paragraph">
                We explore the use of modern recommender system technology to address the problem of learning software applications. Before
                describing our new command recommender system, we first define relevant design considerations. We then discuss
                a 3 month user study we conducted with professional users to evaluate our algorithms which generated customized
                recommendations for each user. Analysis shows that our item-based collaborative filtering algorithm generates
                2.1 times as many good suggestions as existing techniques. In addition we present a prototype user interface
                to ambiently present command recommendations to users, which has received promising initial user feedback.
            </div>
            <div class="linespace"></div>
            <div class="sectiontitle">
                ACM Classification: <span class="paragraph">H5.2 [Information interfaces and presentation]: User Interfaces. - Graphical user interfaces.</span>
            </div>
            <div class="linespace"></div>
            <div class="sectiontitle">General terms: <span class="paragraph">Design, Human Factors.</span> </div>
            <div class="linespace"></div>
            <div class="sectiontitle">INTRODUCTION</div>
            <div class="paragraph">
                Many of today’s programs have not hundreds, but thousands of commands for a user to become aware of and learn [18]. In each release, more commands might be added, and without explicit effort on the part of the user to learn about new functionality, they are left untouched. For example, in Autodesk's AutoCAD, the number of commands has being growing linearly over time. And even with the thousands of commands available in AutoCAD, the largest
                group of users only use between 31 and 40 of them (Figure 1).
                <div class="linespace"></div>
                An inherent challenge with such systems is a user’s awareness [14, 39] of the functionality which is relevant to their specific goals and needs. Awareness of functionality is not only important for learning how to accomplish new tasks, but also learning how to better accomplish existing tasks. In a potential “best case scenario”, the user works with an expert next to them, who can recommend commands when appropriate.
                <div class="linespace"></div>
                While previous HCI literature has looked at intelligent online agents, most of this work is focused on predicting what current state a user is in, if they require assistance, and how
                <div class="extremelinespace"></div>

                to overcome problems [4, 8, 9, 15, 17, 20, 31]. To our knowledge, here are few examples of systems specifically focused on recommending new commands to users [24, 25]. Furthermore, such work has never been thoroughly implemented or evaluated, and has important limitations.
                <div class="linespace"></div>
                Systems which recommend content to users, known as “recommender systems” are very popular today in other domains. Some of the most popular movie, shopping, and music websites provide users with personalized recommendations [23, 29, 34, 36], and research in improving recommendation algorithms is an active field of research [2]. In this paper we introduce and investigate the application of modern recommender system algorithms to address the ommand awareness problem in software applications. 
                <div class="linespace"></div>
                <img src="../assets/figure1.PNG" style="width:25vw;">
                <div class="caption">
                    Figure 1. Histogram of the number of commands used by AutoCAD users. The largest group of users only use between 31 and 40 commands.
                </div>
                <div class="linespace"></div>
                Our new system, CommunityCommands, collects usage data from a software system’s user community, and applies recommender system algorithms to generate personalized command recommendations to each user. With CommunityCommands we hope to expose users to commands they are not currently familiar with that will help them use the software more effectively. The recommended commands are displayed in a peripheral tool palette within the user interface that the user to refer to when convenient. Thus, the system is much more ambient in nature compared to online agents such as “Clippy” or even simple techniques like “Tip of the Day”. After discussing implementation details, we describe a 3 month evaluation of our recommender system algorithms, conducted with real users. Our new algorithms provided significantly improved recommendations in comparison to existing approaches.
            </div>
        </div>
         <div class="permission">
            Permission to make digital or hard copies of all or part of this work for personal or classroom use is granted without fee provided that copies are not made or distributed for profit or commercial advantage and that copies bear this notice and the full citation on the first page. To copy otherwise, or republish, to post on servers or to redistribute to lists, requires prior specific permission and/or a fee.<div></div>
            UIST’09, October 4-7, 2009, Victoria, B.C., Canada.<div></div>
            Copyright © 2009 ACM 978-1-60558-745-5/09/10 . . . $10.00.
        </div>
        <div class="pagenumber">193</div>
    </div>
</body>

</html>